<div id="burger-title">
  <img src="https://raw.githubusercontent.com/shelbyandersen/burger-app/main/public/assets/burger-icon.png" width="125"
    height="125" alt="burger image">
</div>
<style></style>
<h1>Eat Da Burger!</h1>

<div class="burgers-to-devour">
  <h2>Burgers to Devour</h2>

  <ul>
    {{#each burgers}}
    {{#unless isDevoured}}
    {{> burgers/burger-block isDevoured=true}}
    {{/unless}}
    {{/each}}
  </ul>
</div>

<div class="burgers-eaten">
  <h2>Burgers Eaten</h2>

  <ul>
    {{#each burgers}}
    {{#if isDevoured}}
    {{> burgers/burger-block isDevoured=false}}
    {{/if}}
    {{/each}}
  </ul>
</div>

<div class="add-burger-div">
  <h2 class="add-burger" id="burger-add-txt">Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="ca" class="burger-name">Burger Name:</label>
      <input type="text" class="burger-box" id="ca" name="name">
    </div>

    <div class="form-group">
      <label for="isDevoured" class="burger-text">Enter a Burger you want to eat!</label><br>
      {{!-- <input type="radio" name="isDevoured" value="1" checked> Add Burger!<br><br> --}}
      {{!-- <input type="radio" name="devoured" value="0"> Eaten --}}
      <button type="submit" id="add-burger-btn">Add Burger</button>
    </div>
</div>


</form>