body {
  background: #124653;
}

h1 {
  text-align: center;
  font-family: "sifonnbasic_outline", Arial, sans-serif;
  color: #fee074;
}

h2 {
  font-family: "sifonnbasic_outline", Arial, sans-serif;
  color: #fee074;
  font-size: 28px;
  text-transform: uppercase;
}

li {
  margin: 2%;
  background: #20293e;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  padding-left: 5%;
  padding: 2%;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
  text-align: center;
}

.add-burger {
  text-align: center;
}

.burgers-eaten {
  display: inline-block;
  width: 50%;
  float: left;
}

.burgers-to-devour {
  display: inline-block;
  width: 50%;
  float: left;
}

.clearfix::after {
  clear: both;
}

.devour {
  background: #00a08f;
  border: none;
  padding: 3%;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-align: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#burger-title {
  text-align: center;
  font-size: 100px;
}
