@font-face {
  font-family: "sifonnbasic_outline";
  src: url("../siffon-outline/sifonn_basic_outline-webfont.woff2")
      format("woff2"),
    url("../siffon-outline/sifonn_basic_outline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #124653;
}

h1 {
  text-align: center;
  font-family: "sifonnbasic_outline", Arial, sans-serif;
  color: #fee074;
  font-size: 60px;
  text-transform: uppercase;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #fee074;
  font-size: 28px;
  text-transform: uppercase;
  margin: 1%;
}

li {
  margin: 2%;
  background: #20293e;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  padding-left: 5%;
  padding: 2%;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
  text-align: center;
}

.add-burger {
  text-align: center;
  margin-top: 3%;
}

.burgers-eaten {
  display: inline-block;
  width: 50%;
  float: left;
}

.burgers-to-devour {
  display: inline-block;
  width: 50%;
  float: left;
}

.clearfix::after {
  clear: both;
}

.devour {
  background: #00a08f;
  border: none;
  padding: 3%;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-align: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.burger-name {
  text-transform: uppercase;
  font-size: 26px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.burger-box {
  margin: 2%;
  background: #20293e;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  padding: 2%;
  text-decoration: none;
  border: none;
}

.burger-text {
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.delete-burger {
  background: #ffaf63;
  border: none;
  padding: 3%;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-align: right;
}

#burger-title {
  text-align: center;
  font-size: 100px;
}

#burger-add-txt {
  margin-top: 3%;
}

#add-burger-btn {
  background: #ffaf63;
  border: none;
  padding: 2%;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-align: right;
  margin: 2%;
}
