@font-face {
  font-family: "sifonnbasic_outline";
  src: url("sifonn_basic_outline-webfont.woff2") format("woff2"),
    url("sifonn_basic_outline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
